# IBM watsonx credentials
WATSONX_API_KEY=O6IIi3YjZVnOzy8ku6G49EcRZPhBTPDoBA5_nTkrCnyR
WATSONX_PROJECT_ID=02e1fa70-00fe-42d8-8950-bfb050f69598
WATSONX_URL=https://us-south.ml.cloud.ibm.com

# IBM Granite model
GRANITE_MODEL_ID=ibm/granite-4-h-small

# Application settings
APP_HOST=0.0.0.0
APP_PORT=8000
DEBUG=false

# RAG settings
CHUNK_SIZE=512
CHUNK_OVERLAP=64
TOP_K_RESULTS=5
EMBEDDING_MODEL=all-MiniLM-L6-v2
